{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    
    <header>

        <img src="{% static 'assets/handshake_800_wht.jpg' %}" alt="icone representando a autenticação" class="logo">

    </header>
    <main>

        <h1>Área de Mbembros</h1>
        <p2>àrea destinada a úsuarios autenticados</p2>
        
    </main>
    
</body>
</html>