<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech</title>
</head>
<body>
    
    <header>

        <img src="" alt="Pessoa feliz no computador" class="logo">

    </header>
    <main>

        <h1>Django oAuth2.0</h1>
        <div class="social-media">
            <div class="social-media-details">
                <a href="">
                    <img src="" alt="icone para realizar a autenticação via Github">
                    <p>Github</p>
                </a>
            </div>
        </div>
    </main>
    
</body>
</html>