{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'members.css' %}">
    
</head>
<body>
    
    <header>

        <img src="{% static 'assets/handshake_800_wht.jpg' %}" alt="icone representando a autenticação" class="logo">

    </header>
    <main>

        <h1>Área de Membros</h1>
        <p>àrea destinada a úsuarios autenticados</p>

        <div class="logout-btn-countainer">

            <a href="http://localhost:8000/accounts/logout" class="logout-btn">Logout</a>

        </div>
        
    </main>
    
</body>
</html>